section {
  width: 450px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

section h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

section button {
  width: 150px;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #27ae60;
  color: white;
  border-radius: 5px;
}

section button:hover {
  background-color: #219150;
  cursor: pointer;
}